body{
  font-family: 'Montserrat', sans-serif;
}

header{
  z-index: 1;
}

main{
  padding-top: 92px;
}

footer,
select{
  background-color: #00439c;
}

nav .btn{
  background-color: #363636;
  transition: .5s;
}


#jumbotron .container-fluid{
  background: url(../img/jumbo-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  height: 380px;
}

#it-take-two{
  background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
}

#next-exit{
  background-color: #1f1f1f;
}

#psp{
  background-color: #bebcbb;  
}

#psn{
  background-color: #161c3b;
}

#jumbotron figure,
#ps5 span.border-btn{
  border:2px solid #0d6dfd00;
  transition: .5s;
}

#jumbotron img,
#it-take-two img{
  width: 60%;
}

#ps5 a{
  border-bottom: 3px solid #0d6dfd00;
  transition: .5s;
} 

#psp .d-none img,
#psn .d-none img{
  height: 100%;
}


#jumbotron .btn,
#it-take-two .btn{
  background-color: #cd3d0f;
}

#ps5 .btn,
#ps4 .btn{
  background-color: #2d64e6;
}

#ps5 .my-opacity{
  opacity: .75;
  transition: .5s;
}

#psp .btn{
  background-color: #d9dadc;
}

img.sony-logo{
  height: 20px;
}

.my-find{
  width: 25px;
}

.my-clr-blue{
  color: #2d64e6;
}

.my-clr-gray{
  color: #7c7c7c;
}


/* ! ANIMATION */

nav .btn:hover{
  background-color: #363636b5;
}

#jumbotron figure:hover,
#ps5 span.border-btn:hover{
  border: 2px solid #0d6efd;
}

#ps5 a:hover{
  border-bottom: 3px solid #0d6efd;
  opacity: 1;
}