body{
  font-family: 'Montserrat', sans-serif;
}

#jumbotron .container-fluid{
  background-image: url(../img/jumbo-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  height: 380px;
}

#it-take-two{
  background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
}

#next-exit{
  background-color: #1f1f1f;
}

#jumbotron img,
#it-take-two img{
  width: 60%;
}

#jumbotron .btn,
#it-take-two .btn{
  background-color: #cd3d0f;
}

#ps5 .btn,
#ps4 .btn{
  background-color: #2d64e6;
}

.my-clr-blue{
  color: #2d64e6;
}

.my-clr-gray{
  color: #7c7c7c;
}

.my-box{
  width: 100%;
  min-height: 80px;
  background-color: blue;
  border: 1px solid black;
}